<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='UMich-favicon.ico') }}" type="image/vnd.microsoft.icon" />
    <title>License Dashboard</title>
</head>
<body>

<div class="header">
    <img src="{{ url_for('static', filename='logo.png')}}" width="35%">
</div>
<div id="subnav">
    {% include 'nav.html' %}
</div>
<h1>Edit Database Entry</h1>
<h2>Note: all values including radial buttons must be selected</h2>

<form action="{{formaction}}" method="POST">
<table border=1>
    <tr>
        <td><b>Data Value Type</b></b>
        <td><b>Old Value</b></b>
        <td><b>New Value</b></b>
    <tr>
        <td>License:</td>
        <td>{{data[1]}}</td>
        <td><input type='text' name='NewLicense' value="False"/></td>
    </tr>
    <tr>
        <td>Ignore (0 = False, 1 = True):</td>
        <td>{{data[6]}}</td>
        <td><input type='text' name='Ignore' value="False"/></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>{{data[3]}}</td>
        <td><input type='text' name='Name' value="False"/></td>
    </tr>
</table>
<input type="radio" name="Term" value="False"/> Leave Value <br/>
<input type="radio" name="Term" value="True"/> <b>DELETE THIS ENTRY</b><br/>

<input type="submit" value="Update"/>
</form>


</body>
